.insta_btn {
  display: inline-block;
  text-align: center;/*中央揃え*/
  color: #2e6ca5;/*文字色*/
  font-size: 17px;/*文字サイズ*/
  text-decoration: none;/*下線消す*/
  margin-top: -6pt;
}

.insta_btn:hover {/*ホバー時*/
  color:#668ad8;/*文字色*/
  transition: .5s;/*ゆっくり変化*/
}

.insta_btn .insta{/*アイコンの背景*/
  position: relative;/*相対配置*/
  display: inline-block;
  width: 50px;/*幅*/
  height: 50px;/*高さ*/
  background: -webkit-linear-gradient(135deg, #427eff 0%, #f13f79 70%) no-repeat;
  background: linear-gradient(135deg, #427eff 0%, #f13f79 70%) no-repeat;/*グラデーション①*/
  overflow: hidden;/*はみ出た部分を隠す*/
  border-radius: 13px;/*角丸に*/

}

.insta_btn .insta:before{/*グラデーションを重ねるため*/
  content: '';
  position: absolute;/*絶対配置*/
  top: 23px;/*ずらす*/
  left: -18px;/*ずらす*/
  width: 60px;/*グラデーションカバーの幅*/
  height: 60px;/*グラデーションカバーの高さ*/
  background: -webkit-radial-gradient(#ffdb2c 10%, rgba(255, 105, 34, 0.65) 55%, rgba(255, 88, 96, 0) 70%);
  background: radial-gradient(#ffdb2c 10%, rgba(255, 105, 34, 0.65) 55%, rgba(255, 88, 96, 0) 70%);/*グラデーション②*/
}

.insta_btn .fa-instagram {/*アイコン*/
  color: #FFF;/*白に*/
  position: relative;/*z-indexを使うため*/
  z-index: 2;/*グラデーションより前に*/
  font-size: 40px;/*アイコンサイズ*/
  line-height: 50px;/*高さと合わせる*/
}


.card-img-top {/* cardの画像をレスポンシブルにする設定 */
  width: 100%;
  height: 200px;
  object-fit: contain; /* この一行を追加するだけ！ */
}


.card {/* カードの長さ */
  height: 350px;
}

body{/* 背景色指定 */
  background-color:#f4f4f4;
}

.button_text_size1{/* 会員登録ページ内の文字サイズ */
  font-size: small;
  padding-top: 7px;
}

.button_text_size2{/* ログインページの登録、ログインボタンテキスト */
  text-align: center;
  line-height: 25px;
  font-size: small;
}

.input_size1{/* ログインページのメール入力フォーム位置調整 */
  width: 80%;
  margin: 0 auto;
  max-width: 500px;
}

.field_label1{/* 会員情報入力ページのラベル位置調整 */
  padding-right: 205px;
}

.field_label2{/* 会員情報入力ページのラベル位置調整 */
  padding-right: 190px;
}

.field_label3{/* 会員情報入力ページのラベル位置調整 */
  padding-right: 218px;
}

.field_label4{/* 会員情報入力ページのラベル位置調整 */
  padding-right: 160px;
}

.field_label5{/* 会員情報入力ページのラベル位置調整 */
  padding-right: 196px;
}

.text_title1{/* 会員情報入力ページ */
  padding-right: 230px;
  font-weight: 600;
}

.text3{/* 会員情報入力ページ */
  font-size: 12px;
}

.help_text1{/* 会員情報入力ページ */
  font-size: 12px;
  color: red;
}

.detail_top_image {/* cardの画像をレスポンシブルにする設定 */
  width: 100%;
  height: 200px;
  object-fit: contain; /* この一行を追加するだけ！ */
}

.noline:link,
.noline:visited,
.noline:hover,
.noline:active { /* リンクであるfreelanze文字を変化させないコード */
  text-decoration:none;
  font-size: 35px;
  color: black;
}

.text-image {
  width: 100%;
  height: 100%;
}

.detail_name {
  color: white;
}